body{
    color: white;
    background: linear-gradient(rgb(255, 166, 0), rgb(248, 120, 1) );

}
h1{
    display: flex;
    justify-content: center;
    padding: 55%;
    margin: 15px%;
    font-size: 10%
}
h2{
    display: flex;
    justify-content: left;
    padding: 2%;
    margin: 3px%;
   
}

ul{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 27%;
    font-size: 18%;
}


cabecalho-logo {
    display: flex;
    justify-content: left;
    width: 20px;
    padding: 10%;
    margin: 0%;
}